/* Hero.css */
@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .hero-bg {
    background: linear-gradient(270deg, #0d1121, #1d2135, #2a2e45, #141828);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
  }
  